/* 
 * File containing styles used for the categories of the home page
 */

#categories {
	width: 50em;
	height: auto;
	
	margin: auto;
	margin-top: 1em;

	display: flex;
	flex-direction: row;
	justify-content: start;

	border-bottom: 3pt solid var(--grey);

	overflow: auto;

	transition: var(--transition1);
}

#categories ol {
	list-style-type: none;
    padding-left: 0;
	margin: 0;
}

#categories ol li {
	display: inline-block;

	margin-bottom: .2em;
	margin-right: 0.6em;
	margin-left: 0.6em;

	height: 80%;
	width: auto;

	font-size: 1.3em;
	font-weight: 400;
	color: var(--grey);
}

#categories ol li:first-child {
	margin-left: 0;
	color: var(--white);
}