#stories {
	width: 50em;
	height: 5em;
	
	margin: auto;
	margin-top: 1em;

	display: flex;
	flex-direction: row;
	justify-content: start;

	background-color: chartreuse;

	overflow: auto;
}

.stories-people {
	margin: 1%;

	height: 80%;
	width: auto;
	aspect-ratio: 1/1;

	background-color: aquamarine;
}