:root {
	--white: white;
	--purpleBlue: radial-gradient(ellipse 100% 100% at 0% 0%, #271420 35%, transparent),
				  radial-gradient(ellipse 100% 100% at 100% 100%, #1B1E37 35%, transparent), black;
}

html {
	height: 100%;
}

body {
	color: var(--white);
	background: var(--purpleBlue);
	background-position: fixed;
}