:root {
	--transparent: #00000000;
	--white: white;
	--grey: #7B7B7B;
	--dark-grey: #272727;
	--gradGrey: linear-gradient(#393939 0%, #202020 100%);
	--black: black;
	--purpleBlue: radial-gradient(ellipse 100% 100% at 0% 0%, #271420 35%, transparent),
				  radial-gradient(ellipse 100% 100% at 100% 100%, #1B1E37 35%, transparent), black;
	--test: rgb(255, 167, 243);

	/* Post types */
	--math: radial-gradient(ellipse 175% 175% at 100% 100%, #C4659F 35%, transparent), 
			radial-gradient(ellipse 175% 175% at 0% 0%, #7D8AFA 35%, transparent);
	--physics: radial-gradient(ellipse 175% 175% at 0% 0%, #C4659F 35%, transparent), 
			radial-gradient(ellipse 175% 175% at 100% 100%, #FFC000 35%, transparent);
	--mentalism: radial-gradient(ellipse 175% 175% at 100% 100%, #F2D0A9 35%, transparent), 
			radial-gradient(ellipse 175% 175% at 0% 0%, #C4659F 35%, transparent);
	--other: radial-gradient(ellipse 175% 175% at 100% 100%, #C4659F 35%, transparent), 
			radial-gradient(ellipse 175% 175% at 0% 0%, #7D8AFA 35%, transparent);
}