#bottom-bar {
	position: fixed;
	left: 0;
    bottom: 0;
    right: 0;

	display: flex;
	
	width: 100%;
	padding: 0;

    background-color: var(--dark-grey);

	border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#bottom-bar-icons {
	display: flex;
	margin-bottom: 1em;
	padding-top: 1em;

	width: 100%;
	/* background-color: rgb(0, 153, 255); */
    /* border-right: .3em solid var(--transparent); */
}

#bottom-bar-icons * {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
}

#bottom-bar-icons-logo {
	/* background-color: rgb(111, 0, 255); */
	height: 10em;
}

#bottom-bar-icons-tabs {

	/* background-color: rgb(7, 4, 2); */
	height: auto;
}

#bottom-bar-icons-tabs * {
	margin: 0 0.4em;
	/* background-color: chartreuse; */
}

#bottom-bar-icons-tabs * img {
	margin: 0;
    height: 2em;
	transform: translate(0, 8.5%);
}

#bottom-bar-logo {
	/* background-color: blue; */
	height: 5em;
}

#bottom-bar-logo-title {
	position: fixed;
	/*left: 4%;*/
	top: .45em;
	transform: translate(72%, 0);
}

#bottom-bar-logo-title img {
	height: auto;
	width: 9em;
}