#side-bar {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	
	height: 100%;
}

#side-bar-left {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 17em;
	height: 100%;
	background-color: aqua;
}

#side-bar-left * {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

#side-bar-logo {
	background-color: blue;
	height: 5em;
}

#side-bar-tabs {
	margin-top: auto;

	background-color: var(--test);
	height: auto;
}

#side-bar-tabs * {
	margin: 1%;
	background-color: chartreuse;
	width: 95%;
	height: 3em;
}

#side-bar-pied {
	margin-top: auto;
	height: auto;
	
	background-color: crimson;
}

#side-bar-pied * {
	margin: 1%;
	background-color: chartreuse;
	width: 95%;
	height: 3em;
}

#side-bar-right {
	display: flex;
	flex-direction: column;

	justify-content: center;

	background-color: coral;
	width: 2em;
	height: 100%;
}

#side-bar-retractationarrow {


	background-color: brown;
	width: 2em;
	height: 2em;
}