/* 
 * File containing styles used for the side bar (menue/header)
 */

#side-bar {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	
	height: 100%;
	padding: 0;

	
}

#side-bar-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 2.5em;
	padding-right: 0.7em;

	width: 3.5em;
	height: 100%;
	
	transition: var(--transition1);
}

#side-bar-icons * {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	top: 16.6%;
}

#side-bar-icons-logo {
	height: 5em;
}

#side-bar-icons-tabs {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 6.2em;

	height: auto;
}

#side-bar-icons-tabs * {
	padding: 0.4em 0;
	width: 100%;
	height: 3em;
}

#side-bar-icons-tabs * img {
	margin: 0;
	height: 85%;
	transform: translate(0, 8.5%);
}

#side-bar-icons-pied {
	margin-top: auto;
	margin-bottom: 1.65em;
	height: auto;
}

#side-bar-icons-pied * img {
	margin: 0;
	height: 85%;
	transform: translate(0, 8.5%);
}

#side-bar-icons-pied * {
	padding: 0.4em 0;
	width: 100%;
	height: 3em;
}

#side-bar-left {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 14em;
	height: 100%;

	overflow: hidden;

	transition: var(--transition1);
}

#side-bar-left > div {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

#side-bar-logo {
	height: 5em;
}

#side-bar-tabs {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 6.2em;

	height: auto;
}

#side-bar-tabs * {
	padding: 0.4em 0;
	width: 90%;
	height: 3em;
}

#side-bar-icons-tabs a * {
	padding: 0;
	margin: 0.4em 0;
}
#side-bar-tabs * span {
	margin: 0;
}

#side-bar-pied {
	margin-top: auto;
	margin-bottom: 1.65em;
	height: auto;
}

#side-bar-pied * {
	padding: 0.4em 0;
	width: 90%;
	height: 3em;
}

#side-bar-pied * span {
	margin: 0;
}

#side-bar-arrow {
	display: flex;
	flex-direction: column;

	justify-content: center;

	width: 2em;
	height: 100%;

	border-right: 3pt solid var(--grey);
	padding-right: .5em;
	padding-left: .5em;
}

#side-bar-retractationarrow {
	width: auto;
	height: auto;

	align-items: center;
}

#side-bar-retractationarrow img {
	height: 1.23em;
	transform: translate(50%, 12.5%), scaleX(1);
}

#side-bar-logo-title {
	position: fixed;
	top: .45em;
	transform: translate(72%, 0);
}

#side-bar-logo-title img {
	height: auto;
	width: 9em;
}

.side-bar-text {
	position: relative;
	color: var(--white);
	text-align: left;
	font-size: 150%;
	font-weight: 400;
	top: 10%;
}

#side-bar-pied-parameters .side-bar-text {
	color: var(--grey);
}

/* To retract the side header */
.side-bar-closed #side-bar-left {
	width: 0px;
}

.side-bar-closed #side-bar-arrow {
	background-color: var(--transparent);
	border-right: 0pt solid;
	border-left: 3pt solid var(--grey);
}

.side-bar-closed #side-bar-icons {
	margin-left: 1em;
	padding-right: 1em;
}

.side-bar-closed #side-bar-retractationarrow img {
	transform: scaleX(-1);
}