.penser-post {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	width: 26em;
	height: 39em;

}

.penser-post-header {
	background-color: blueviolet;
	height: 10%;

	display: flex;
	flex-direction: row;
		
	margin-bottom: auto;
}

.penser-post-header-icon {
	background-color: red;
	height: 80%;
	margin: auto;
	aspect-ratio: 1;
}

.penser-post-header-user {
	background-color: orange;
	height: 80%;
	aspect-ratio: 1;
}

.penser-post-header-menu {
	background-color: yellow;

	margin-left: auto;

	height: 80%;
	aspect-ratio: 1;
}

.penser-post-footer {
	background-color: cyan;
	height: 20%;
	
	margin-top: auto;
}

.penser-post-post {
	background-color: blue;
	margin: auto;
	width: 90%;
	padding-bottom: 90%;
}
