.posts {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.penser-post {
	background-color: var(--dark-grey);
	display: flex;
	flex-direction: column;
	margin: .35em;
	
	width: 26em;
	height: 39em;

	overflow: hidden;
	border-radius: 20px;
}

.penser-post-border {
	background: var(--math);
	background-clip: padding-box;

	margin: auto;
	margin-top: 2em;

	overflow: hidden;
	border-radius: 25px;
}

.penser-post-header {
	/*background-color: blueviolet;*/
	height: 10%;

	display: flex;
	flex-direction: row;
		
	margin-bottom: auto;
}

.penser-post-header-user {
	/*background-color: orange;*/
	margin-right: auto;

	display: flex;
	flex-direction: row;

	height: 80%;
	width: 90%;
}

.penser-post-header-icon {
	/*background-color: red;*/
	height: 100%;
	aspect-ratio: 1;
}

.penser-post-header-name {
	/*background-color: orangered;*/
	height: 100%;
	width: 80%;
	/* aspect-ratio: 1; */
}

.penser-post-header-menu {
	/*background-color: yellow;*/

	margin-left: auto;

	height: 80%;
	width: 10%;
}

.penser-post-footer {
	/*background-color: cyan;*/
	height: 20%;
	
	margin-top: auto;
}

.penser-post-post {
	/*background-color: blue;*/
	margin: auto;
	width: 90%;
	padding-bottom: 90%;
}
