/* 
 * File containing styles used in the pages displaying posts
 */

.posts {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.penser-post {
	background-color: var(--dark-grey);
	display: flex;
	flex-direction: column;
	margin: .3em;
	padding: .3em;
	
	width: 26em;
	height: auto;

	overflow: hidden;
	border-radius: 20px;
}

.penser-post-border {
	background: var(--math);
	background-clip: padding-box;

	margin: auto;
	margin-top: 2em;

	overflow: hidden;
	border-radius: 25px;

}

.penser-post img {
	margin: 1%;
	height: 98%;
	border-radius:3%;
}

.penser-post-header {
	height: 4em;

	display: flex;
	flex-direction: row;
		
	padding: .5em .7em 0 .7em;
}

.penser-post-header-user {
	margin-right: auto;

	display: flex;
	flex-direction: row;

	height: 80%;
	width: 90%;
}

.penser-post-header-icon {
	height: 4em;
	aspect-ratio: 1;
}

.penser-post-header-name {
	height: 70%;
	width: 70%;
	padding-top: .5em;
	padding-left: .75em;
	justify-content: justify;
}

.penser-post-header-name-name {
	margin: 0;
}

.penser-post-header-name-at {
	color: var(--grey);
	font-size: .8em;
	margin: 0;
}

.penser-post-header-menu {

	margin-left: auto;
	padding-top: 15px;
	height: 30%;
	width: 10%;
}

.penser-post-footer {
	height: 20%;
	
	margin-top: auto;
}

.penser-post-footer-reacts {
	height: 30%;
}

.penser-post-footer-reacts-heart img,
.penser-post-footer-reacts-star img {
	height: 2.2em;
	aspect-ratio: 1;
	padding-left: 10px;
	padding-right: 10px;
}

.penser-post-footer-reacts-heart:nth-child(1) {
    margin-right: 10px;
}

.penser-post-footer-reacts {
	justify-content: space-between;
	display: flex;
}

.penser-post-footer-reacts span {
	margin-top: 8px;
	margin-left: 0px;
	margin-right: auto;
}

.penser-post-post {
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 1em;
}

.penser-post-footer-description {
	padding: 5px 10px 0px 10px;
	font-size: 0.8em;
}

.penser-post-footer-time {
	padding: 10px 10px 10px 10px;
	color: gray;
	font-style: italic;
}

.penser-post-footer-bottom {
	display: flex;
	justify-content: space-between;
}

.penser-post-footer-comments img {
	height: 1.5em;
	margin-right: 10px;
	margin-top: 10px
}
.penser-post-footer-comments {
	padding: 0px 10px 10px 0px;
	margin-top: 0px;
	color: gray;
	font-style: italic;
	display: flex;
	justify-content: space-between;
}
.penser-post-footer-comments span {
	padding-top: 10px;
	margin-right: 10px;
}
.physics {
	background: var(--physics);
}

.mentalism {
	background: var(--mentalism);
}

.other {
	background: var(--other);
}